version: '3.8'

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: hotel_api
    command: npm run start:dev
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '3000:3000'
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: hotel_mongo
    volumes:
      - ./mongo-data:/data/db
    ports:
      - '27017:27017'
